.breakMenu {
    position: absolute;
    display: block;
    bottom: 0;
    right: 10px;
    height: 20px;
    width: fit-content;
    padding: 2px;
    /* margin-bottom: 5px; */
    background-color: #24282a;
    border-radius: 5px 5px 0 0;
    border: solid 1px black;
    border-bottom: 0;
    transition: height .3s ease;
    overflow: none;
}

/* .breakMenu.expanded:after{
    content: "";
    border-bottom: 2px solid green;
    height: .5em;
    left: 0;
    right: 0;
    top: 34px;
    bottom: 0;
    position: fixed;
} */


.breakMenu.expanded {
    height: 120px;
    
}

.breakMenuContent {
    overflow: hidden;
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .3s ease, width .3s ease;
    position: fixed;
    width: inherit;
    /* right: 0px; */
    /* left: 80%; */
    background: #24282a;
    margin-top: 5px;
    padding: 2px;
}

.breakMenuContent.expanded {
    overflow:visible;
    visibility: visible;
    height: 100px;
    right: 10px;
    width: 200px;
    border-radius: 5px 5px 0 0;
    border: solid 1px black;

    opacity: 1;
    transition: opacity .3s ease;
}