.breakMenu {
    position: fixed;
    display: block;
    bottom: 0;
    right: 10px;
    height: 20px;
    width: fit-content;
    padding: 2px;
    /* margin-bottom: 5px; */
    background: #24282a;
    border-radius: 5px 5px 0 0;
    border: solid 3px black;
    /* box-shadow: 01px 0px 5px rgb(126, 126, 126); */
    border-bottom: 0;
    transition: height .3s ease;
    overflow: none;
}

/* .breakMenu.expanded:after{
    content: "";
    border-bottom: 2px solid green;
    height: .5em;
    left: 0;
    right: 0;
    top: 34px;
    bottom: 0;
    position: fixed;
} */


.breakMenu.expanded {
    height: 120px;
    
}

.breakMenuContent {
    /* overflow: hidden; */
    /* visibility: hidden; */
    height: 1;
    /* opacity: 0; */
    transition: opacity .3s ease, height .3s ease;
    position: fixed;
    right: 10px;
    height: 90px;

    width: 200px;
    /* right: 0px; */
    /* left: 80%; */
    background: #24282a;
    margin-top: 5px;
    padding: 5px;
    /* margin: 5px; */

    border-radius: 5px 5px 0 0;
    border: solid 2px black;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.breakMenuContent.expanded {
    /* overflow:visible; */
    /* visibility: visible; */

/* 
    opacity: 1;
    transition: opacity .3s ease; */


}

.breakMenuButtonContainer {
    display: flex;
    justify-content: space-around;
}

/* .breakMenuBackingPlate {
    background: #24282a;
    height: 0;

    transition: height .3s ease;

}

.breakMenuBackingPlate.expanded {
    background: green;
    height: 100px;
    width: 100px;
    position: fixed;
    left: 0;
    bottom: -2px;
} */

@media only screen and (min-width: 769px) {

    .breakMenu{
        display: block;
        right: 0;
        left: 10px;
        z-index: 22;
        position: fixed;
        background: rgb(51 55 58);
    }

    .breakMenuContent {
        right: 0px;
        left: 10px;
        background: rgb(51 55 58);
    }

}