.clockNav {
    text-align: center;

    padding-top: 15px;
    padding-bottom: 10px;

    border-bottom: 1px solid black;

    height: fit-content;
    transition: height ease .2s;
}

.clockNav-expanded{
    text-align: center;

    padding-top: 15px;
    padding-bottom: 10px;

    border-bottom: 1px solid black;

    height: fit-content;
    transition: height ease .3s;

}


.primaryClock{
    font-size: xx-large;
}

.toggleExpandClocks {
    padding-bottom: 0;
    margin-bottom: 0;
}


@keyframes append-animate {
  from{
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.expandClocksSubContent-expanded {
  animation: append-animate ease .4s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

/* .expandClocksSubContent {
  animation: suffix-animate ease .3s
} */


@media only screen and (min-width: 769px) {
    /* For desktop: */
    .clockNav{
      /* display:flex; */
      width:260px;
      /* height: 100%; */
      height: fit-content;
    }

    .clockNav-expanded{
      width: 260px;
      height: fit-content;
    }
  }
  
  @media only screen and (min-height: 1441px) {
    /* For vertical monitor desktop: */
    /* .App{ */
      /* display:flex; */
      /* flex-grow: 1; */
      /* width:100%; */
      /* height: 100%; */
    /* } */ 
  }
  