.encounterContentContainer {
    /* margin: 10px; */
    /* background: grey; */
}

.encounterTools {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-2px);
    padding-top: 5px;
    width: 100%;
}

.encounterTools.pinned {
    position: fixed;
    height: 75px;
    width: 100%;
    
    border-bottom: 2px solid black;
    background: #24282A;
}

.encounterAttemptsContainer{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pinEncounterTools {
    position: absolute;
    /* right: 20px; */
    /* bottom: 100px; */
    right: 18%;
    transform: translateY(25px) scale(1.5);
}

.encounterContent{
    padding-top: 3px;
}

.encounterContent.pinned {
    padding-top: 80px;
}

@media only screen and (min-width: 769px) {

    .encounterTools{

    }

    .encounterTools.pinned {
        width: calc((100% - 260px));
    }

}