.encounterContentContainer {
    /* margin: 10px; */
    /* background: grey; */
    padding: 5px;
}

.encounterTools {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: translateY(-5px); */
    /* translate: -5px; */
    padding: 0;
    padding-top: 5px;
    padding-bottom: 6px;
    width: 100%;
    margin-left: -5px;
    margin-top: -6px;
}

.encounterTools.pinned {
    position: fixed;
    height: 75px;
    /* width: 100%; */
    /* padding-left: -15px; */
    margin-left: -10px;
    padding-right: 10px;
    
    border-bottom: 2px solid black;
    background: #24282A;
}

.encounterClearedContent {
    text-align: center;
}

.encounterClearedContent.cleared {
    background: green;
    padding: 5px 50px;
    border-radius: 3px;
    border: 2px solid black
    
}

.encounterAttemptsContainer{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pinEncounterToolsContainer {
    position: absolute;
    /* margin: 10px; */
    height: 25px;
    width: 25px;
    right: 18%;
    transform: translateY(15px);
}

.pinEncounterTools {
    position: absolute;
    /* right: 20px; */
    /* bottom: 100px; */
    width: 25px;
    height: 25px;
    margin:10px;
}

.encounterTitle {
    font-size: x-large;
    padding: 5px 25%;
    background-color: rgb(128, 0, 0);
    border-radius: 3px;
    border: solid 2px black

}

.encounterHeader{
    display: flex;
    justify-content: center;
    font-size: larger;
    text-align: center;
    width: fit-content;
    padding: 8px 50px;
    background-color: #24282a;
    border: solid 1px black;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.encounterContent{
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.encounterContent.pinned {
    padding-top: 80px;
}

.encounterSection {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0; */
}

.encounterBulletPoint {
    padding-top: 5px;
}

.encounterSubBulletPoint {
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 3px;
    display: list-item;
    list-style-type: circle;
}

.emphasizedEnemy {
    font-weight: 700;
}

.shieldedEnemy {
    padding-right: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.shieldedEnemy.arc {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_092d066688b879c807c3b460afdd61e6.png");
}

.shieldedEnemy.solar {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png");
}

.shieldedEnemy.void {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png");
}

.shieldedEnemy.stasis {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_530c4c3e7981dc2aefd24fd3293482bf.png");
}

.encounterSection.recommended {
    width: 100%;
}

.buildSlotsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.buildSlot {
    height: 70px;
    width: 250px;
    display: flex;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.buildSlotIcon {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;

}

.buildSlotDetails {
    /* padding: 0 5px; */
    padding-left: 5px;

    width: 200px;
    /* height: fit-content */
}

.buildSlotIcon.riskrunner {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/d8fc70e24fd1ddae0546c21ff1cf86d4.jpg");
}

.buildSlotIcon.witherhoard {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/e805ada80a07dccb6db9db71199ab273.jpg");
}

.buildSlotIcon.wishender {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/2f43461f378a905db1ba3e3dbcbfed83.jpg");
}

.buildSlotIcon.agers {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/a8fce2ba7ff621877cb718a84cc70930.jpg");
}

.buildSlotIcon.thunderlord {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/ddfe8daa6f2093efae32bd6f70ef36c5.jpg");
}

.buildSlotIcon.gjallarhorn {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/e6c6190dc297e8e09c1a32b2dab9aae4.jpg");
}

.buildSlotIcon.anarchy {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/140b9a1877eb689ff0e9c18f95f53029.jpg");
}

.buildSlotIcon.forbearance {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/70036e994bd7b8d41b40969330c15b38.jpg");
}

.buildSlotIcon.blinding {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/c0dde588e1a32760621859e496d2e657.png");
}

.buildSlotDetails.cantdont{
    background-image: url("https://i.kym-cdn.com/entries/icons/mobile/000/022/138/highresrollsafe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.dimIcon {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://app.destinyitemmanager.com/apple-touch-icon-6-2018.png");
    padding-left: 1.5rem;
}

.dimLink:link {
    color: aquamarine;
}

.dimLink:visited {
    color:rgb(184, 0, 0);
}

@media only screen and (min-width: 769px) {

    .encounterContentContainer{
        width: calc(100% - 15px);
    }

    .encounterTools{

    }

    .encounterTools.pinned {
        width: calc((100% - 260px));
    }

    .encounterTitle {
        /* display: flex; */
        justify-self: center;
        text-align: center;
        padding: 5px 30%;
        margin-left: 15%;
        width: fit-content;
        /* width: calc(70% - 260px) */
    }

    .encounterContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .encounterSection {
        margin: 10px 30px;
    }

}