.encounterContentContainer {
    /* margin: 10px; */
    /* background: grey; */
    padding: 5px;
}

.encounterTools {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: translateY(-5px); */
    /* translate: -5px; */
    padding: 0;
    padding-top: 5px;
    padding-bottom: 6px;
    width: 100%;
    margin-left: -5px;
    margin-top: -6px;
    z-index: 20;
}

.encounterTools.pinned {
    position: fixed;
    height: 75px;
    /* width: 100%; */
    /* padding-left: -15px; */
    margin-left: -10px;
    padding-right: 10px;
    
    border-bottom: 2px solid black;
    background: #24282A;
}

.encounterClearedContent {
    text-align: center;
}

.encounterClearedContent.cleared {
    background: green;
    padding: 5px 50px;
    border-radius: 3px;
    border: 2px solid black
    
}

.encounterAttemptsContainer{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pinEncounterToolsContainer {
    position: absolute;
    /* margin: 10px; */
    height: 25px;
    width: 25px;
    right: 18%;
    transform: translateY(15px);
}

.pinEncounterTools {
    position: absolute;
    /* right: 20px; */
    /* bottom: 100px; */
    width: 25px;
    height: 25px;
    margin:10px;
}

.encounterTitle {
    font-size: x-large;
    padding: 5px 25%;
    background-color: rgb(128, 0, 0);
    border-radius: 3px;
    border: solid 2px black;
    text-align: center;
    position: inherit;

    /* transform: translateY(20px) */
}

.encounterTitle.stickTools{
    transform: translateY(80px)

}

.encounterHeader{
    display: flex;
    justify-content: center;
    font-size: larger;
    text-align: center;
    width: fit-content;
    padding: 8px 50px;
    background-color: #24282a;
    border: solid 1px black;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.encounterHeader.challengeMode {
    background-color: rgb(128, 0, 0);
    border: 2px solid black;
}

.encounterHeader.secretChest {
    background-color: rgb(104, 75, 2);
    border: 2px solid black;
}

.encounterContent{
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.encounterContent.pinned {
    padding-top: 80px;
}

.encounterSection {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0; */
}

.encounterSubSection {
    max-width: 550px;
}

.encounterBulletPoint {
    padding-top: 5px;
}

.encounterSubBulletPoint {
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 3px;
    display: list-item;
    list-style-type: circle;
}

.encounterRoleSelector{
    display: flex;
    justify-content: space-between;
}

.encounterDivinitySelector{
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    background: rgb(104, 75, 2);
    margin-left: -4px;
    margin-right: -4px;
    padding: 2px;
    /* padding-bottom: 2px; */
    border-radius: 3px;
}

.emphasizedEnemy {
    font-weight: 700;
}

.shieldedEnemy {
    padding-right: 25px;
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: right center;
}

.shieldedEnemy.arc {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_092d066688b879c807c3b460afdd61e6.png");
}

.shieldedEnemy.solar {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_2a1773e10968f2d088b97c22b22bba9e.png");
}

.shieldedEnemy.void {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_ceb2f6197dccf3958bb31cc783eb97a0.png");
}

.shieldedEnemy.stasis {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_530c4c3e7981dc2aefd24fd3293482bf.png");
}

.encounterSection.recommended {
    /* width: 100%; */
}

.encounterSection.walkthrough {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.encounterSection.videos {
    margin-left: 0;
    margin-right: 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.encounterSection.videoContainer {
    margin-left: 0px;
    margin-right: 0px;
}

.buildSlotsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}

.buildSlot {
    height: 70px;
    width: 250px;
    display: flex;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.buildSlotIcon {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;

}

.buildSlotDetails {
    /* padding: 0 5px; */
    padding-left: 5px;

    width: 200px;
    /* height: fit-content */
}

.encounterWalkthroughContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.encounterWalkthroughParagraph {
    text-indent: 3rem;
    max-width: 900px;
    line-height: 1.3;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
}

.encounterWalkthroughParagraph.image {
    /* width: 50%; */
    /* max-width: 800px; */
    max-width: 650px;
}

.encounterWalkthroughParagraph.wide {
    /* width: 50%; */
    /* max-width: 800px; */
    /* max-width: 650px; */
    padding-left: 8%;
    padding-right: 8%;
    /* margin-left: 200px; */
    /* margin-right: 200px; */
}

.walkthroughImageContainer {
    height: fit-content;
    width: fit-content;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    border: solid 1px black;
    border-radius: 5px;
    background: rgb(91, 98, 110);
    padding: 5px;
}

.walkthroughImage {
    height: 180px;
    /* width: 90%; */
    max-height: 200px;
    max-width: 90%;
    border: solid 1px black
}

.buildSlotIcon.riskrunner {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/d8fc70e24fd1ddae0546c21ff1cf86d4.jpg");
}

.buildSlotIcon.witherhoard {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/e805ada80a07dccb6db9db71199ab273.jpg");
}

.buildSlotIcon.wishender {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/2f43461f378a905db1ba3e3dbcbfed83.jpg");
}

.buildSlotIcon.agers {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/a8fce2ba7ff621877cb718a84cc70930.jpg");
}

.buildSlotIcon.thunderlord {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/ddfe8daa6f2093efae32bd6f70ef36c5.jpg");
}

.buildSlotIcon.gjallarhorn {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/e6c6190dc297e8e09c1a32b2dab9aae4.jpg");
}

.buildSlotIcon.anarchy {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/140b9a1877eb689ff0e9c18f95f53029.jpg");
}

.buildSlotIcon.forbearance {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/3de1900af52bf2f8d64af54f19b7b1c4.jpg");
}

.buildSlotIcon.glaiveArc {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/3e60378085a501fd278aeb2035217ea7.jpg");
}

.buildSlotIcon.arcResist {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/89d9d251481212557ac29707d7577449.png");
}

.buildSlotIcon.arcResist.colors{
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/6c9c49d0f718f1499c8ced1ecf7c51fb.png");
}

.buildSlotIcon.voidResist {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/5a3cc0bd1709b28147ec5fbc497360f8.png");
}

.buildSlotIcon.voidResist.colors{
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/32a1a3e44cbbe2b484b9c926d9dc1f08.png");
}


.buildSlotIcon.blinding {
    /* margin-top: 10px; */
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/c0dde588e1a32760621859e496d2e657.png");
}

.buildSlotDetails.cantdont{
    /* margin-top: 10px; */
    background-image: url("https://i.kym-cdn.com/entries/icons/mobile/000/022/138/highresrollsafe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.buildSlotDetails.thisIsWhere{
    /* margin-top: 10px; */
    text-shadow: 1px 1px 2px black;
    background-image: url("https://nyc3.digitaloceanspaces.com/memecreator-cdn/media/__processed__/e37/template-fairly-odd-parents-987-0c6db91aec9c.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -10rem;
}

.buildSlotIcon.stompees {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/8c7681f1e93ee996a724e55554e079e9.jpg");
}

.buildSlotIcon.transversive {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/78874c268891725a68bdcc35432fec9e.jpg");
}

.buildSlotIcon.wingsSacredDawn {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/eb1c6215d4997aaba5c0c10114ff65b6.jpg");
}

.buildSlotIcon.lionRampant {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/bd9977d2267655736adc7c72a8fb4659.jpg");
}

.buildSlotIcon.mobility {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/e26e0e93a9daf4fdd21bf64eb9246340.png");
}

.buildSlotIcon.daybreak {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/ce006cb360a96d8f054e49499d924603.png");
}

.buildSlotIcon.tripleJump {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/3dd6331f5a1c066e845ad7d607f44988.jpg");
}

.buildSlotIcon.sword {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/ddb15379c4cb8c9e05758a108b8eb20d.jpg");
}

.buildSlotIcon.astrocyte {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/96fdb1cd590b2212006d128dd0bc32a4.jpg");
}

.buildSlotIcon.acrius {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/1ed0827344c3855218be3bca8afb12af.jpg");
}

.buildSlotIcon.eagerEdge {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/4716d462aad8d5913c22a34ee8eac494.png");
}

.buildSlotIcon.sniper {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/e750dcacb3a69df328ca735b7b6b5fc7.jpg");
}

.buildSlotIcon.osteo {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/e345f822fe5cb657bfdc05df78611bba.jpg");
}

.buildSlotIcon.healingGrenade {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/35824c115235240b6889fe523448fb10.jpg");
}

.buildSlotIcon.stasis {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/3c0dc830b83a9f3e9a52b7bea4494f64.png");
}

.buildSlotIcon.sleeper {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/06c339b02b1a3b0b5c1322751b177557.jpg");
}

.buildSlotIcon.whisper {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/7955c1254752ed790fb0f5fa1b483c13.jpg");
}

.buildSlotIcon.cataclysmic {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/29678c0a34753f9f671dc5d6ba79c0f1.jpg");
}

.buildSlotIcon.stormchaser {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/080a1661cbd1dc9af226b725f5f7df9f.jpg");
}

.buildSlotIcon.outbreak {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/b71a0a8c2dbfda6ac33cde56983fe078.jpg");
}

.buildSlotIcon.orpheus {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/0d6ae4296f1435209070142cf26dfd37.jpg");
}

.buildSlotIcon.wellRadiance {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/5dbb9a2f285df3ee20fe37d073350a37.png");
}

.buildSlotIcon.sundering {
    background-image: url("https://d2.destinygamewiki.com/mediawiki/images/b/bc/Sundering_Glare_Icon.png");
}

.buildSlotIcon.ragnhild {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/bca0ff38ee286a947ad93ea315d5980d.jpg");
}

.buildSlotIcon.malfeasance {
    background-image: url("https://www.bungie.net/common/destiny2_content/icons/0c2816822b0a1787157f1e90d3bd057c.jpg");
}




.youtubeEmbed{
    height: 180px;
    width: 315px;
}

.dimIcon {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://app.destinyitemmanager.com/apple-touch-icon-6-2018.png");
    padding-left: 1.5rem;
}

.gamedeveloperIcon {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://www.gamedeveloper.com/favicon-32x32.ico");
    padding-left: 1.5rem;
}

.googleSheetsIcon {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://fonts.gstatic.com/s/i/productlogos/sheets_2020q4/v8/192px.svg");
    padding-left: 1.5rem;
}

.dimLink:link {
    color: aquamarine;
}

.dimLink:visited {
    color:rgb(184, 0, 0);
}

@media only screen and (min-width: 769px) {

    .encounterContentContainer{
        width: calc(100% - 15px);
    }

    .encounterTools{

    }

    .encounterTools.pinned {
        width: calc((100% - 260px));
    }

    .encounterTitle {
        /* display: flex; */
        justify-self: center;
        text-align: center;
        padding: 5px 30%;
        margin-left: 15%;
        margin-right: 15%;
        width: auto;
        /* width: calc(70% - 260px) */
    }

    .encounterContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .encounterSection {
        margin: 10px 30px;
    }

    .encounterSection.videoContainer {
        margin-left: 25px;
        margin-right: 25px;
    }

    .encounterWalkthroughParagraph {
        margin: 20px;
        line-height: 1.5;
        font-size: large;
    }

    .youtubeEmbed{
        height: 315px;
        width: 560px;
    }

}