.menuContainer {
    /* background-color: red; */
    /* width: 90%; */
    /* max-width: 350px; */
    width: 90%;

    padding: 5px;
    margin-left: 8px;

    /* border: solid black ; */
    /* border-radius: 1px;      */
    /* box-shadow: 0 10px 20px rgb(0, 0, 0); */


    overflow: hidden;
    position: fixed;
}

.menuHeader{
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    font-size: large;
    /* width: 200px; */
    padding-bottom: 8px;
    /* background: gray; */
}

.menuHeader:after{
    content: "";
    border-bottom: 2px solid black;
    height: 0;
    left: 0;
    right: 0;
    top: 33px;
    bottom: 0;
    position: fixed;
}

.menuHeaderLink {
    text-decoration: none;
    background-color: gray;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 0;
    border-radius: 5px 5px 0 0 ;
}

.navMenuEncounterLink {
    text-decoration: none;
}

/* 
@media only screen and (min-width: 425px) {
    .menuContainer {
        width: 259px;
        padding-left: 1px;
        margin-left: 12px;
        border: none;
        box-shadow: none;
        padding: 0;
    }
}  */

.navMenuSlot {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 4px;
    font-size: large;
}


@media only screen and (min-width: 769px) {
    .menuContainer {
        width: 240px;
        /* padding-left: 1px; */
        margin-left: 0;
        border: none;

        padding: 5px;
        margin-right: 10px;
    }

    .menuHeaderLink {
        padding: 2px;
        padding-bottom: 0;
    }

}

