.toolsContainer {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.blindModeContainer {
    padding: 3px;
    /* padding-bottom: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blindModeButtonContainer {
    display: flex;
    padding: 5px;
    justify-content: center;
}

.toolsHeader{
    font-size: larger;
    text-align: center;
    padding: 8px 50px;
    background-color: #24282a;
    border: solid 1px black;
    border-radius: 4px;
    margin-bottom: 3px;
}

.tooslFireteamGuardianInput {
    font-size: medium;
    /* background: green; */
    text-align: center;

}

.toolsFireteamGuardianPane {
    font-size: medium;
    text-align: center;

}