.toolsContainer {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.blindModeContainer {
    padding: 3px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blindModeButtonContainer {
    display: flex;
    padding: 5px;
    justify-content: center;
}