
.App {
  /* text-align: center; */
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  display: flex;
  overflow:show;
}


.backgroundTitle{

  color: #5d6164;

  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 100px;
  width: 100%;
  bottom: calc(50% - 60px);
  /* top: 0; */
  /* height: 200%; */
  text-align: center;
  pointer-events: none;
  z-index: 0;
} 

.sideBarNav {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navMenu {
  /* position:sticky; */
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background: #24282a;
  /* position: fixed; */
  z-index: 100;

  transform: translateY(-30px);

  transition: opacity .3s ease, height .3s ease, transform .3s ease;
  /* transition: all .3s ease */
}

.navMenu.open {
  /* position:sticky; */
  /* color:green; */
  /* height: 50px; */
  /* width: 60px; */
  /* background: #24282a; */
  height: 285px;
  opacity: 1;
  visibility: visible;
  border-bottom: solid 1px grey;
  box-shadow: 0 5px 10px black;
  /* margin-bottom: 2px; */
  padding: 5px;
  padding-bottom: 10px;
  z-index: 100;

  transform: translateY(0px);


}



.appContent {
   padding-top: 102px;
   transition: padding-top ease .3s;
   z-index: 1;

}

.appContent.expand{
  padding-top: 152px;
  z-index: 1;
}

.welcomePaneContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: none;
  backdrop-filter: blur(3px);
  z-index: 20;

  display: flex;
  justify-content: center;
  /* background: green; */
}

.welcomePane {

  position: fixed;
  margin: 20px;
  height: fit-content;
  width: 70%;
  background: #5d6164;
  border-radius: 5px;
  border: 1px solid rgb(29, 27, 27);
  box-shadow: 10px 10px 10px rgb(29, 27, 27);
  padding: 10px;

  text-align: center;
  /* left: 5%; */
}

.welcomePaneHeader {
  font-size: larger;
}

.welcomePaneHeader:after{  
  /* text-align: center; */
  content: '';
  position: absolute;
  bottom: 20;
  left: 7.5%;
  right: 0;

  height: 1.5em;
  width: 85%;
  border-bottom: 2px solid black;
}

.welcomePaneContent {
  text-align: start;
  padding-top: 5px;
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .App{
    display:flex;
    /* flex-grow: 1; */
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .sideBarNav {
    background: #24282a;
    border-right: 1px solid black;
    max-width: 260px;
    border-bottom: none;
    margin-bottom: 0;
    position: fixed;
    height: 100%;
  }

  .navMenu.open {
    border: none;
  }

  .appContent{
    margin-left: 260px;
    width: auto;
    padding-top: 0;
  }

  .appContent.expand{
    padding-top: 0;
  }

  .welcomePaneContainer {
    /* position: fixed; */
    /* right: calc(100% - 260%); */
    /* left: 0; */
    width: 100%;
  }

  .welcomePane {
    display: block;
    position: fixed;
    width: 550px;
    left: calc(35% - 250px);
    right: 0;
    top: 30%;
  }

  .backgroundTitle{

    height: 100px;
    width: 160px;

    display: block;
    position: absolute;
    left: calc((100% - 260px)/2 + 260px - 80px); /* This calculation centers the title card by halving appContent viewport, offsetting left by the width of the navMenu, and subtracting half the size of the titleObject*/
    bottom: calc(50% - 50px);
  }


}











/** 


.appNav {
  border-bottom: solid 1px;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  position: sticky;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 120px;
}

.navContainer {
  width: 30%;
  text-align: center;
  max-width: 300px;
  padding-bottom: 0;
} 


.titleContainer {
  text-align:start;
  overflow: break-word;
}


.navTitle {
  margin-top: 1rem;
  margin-bottom: 5px;
}

.titleQuote{
  display: block;
  padding-left: 1rem;
}

.titleQuote::first-line {
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 1px 1px 2px darkgrey;
}

.navClockContainer {
}

.navOtherThings {
  text-align: end;
}

.appContent {
  display: block;
  background-color: #333;
}

@media only screen and (max-width: 768px) {
  .titleContainer, .navOtherThings {
    display: none;
  }

  .appNav{
    justify-content: center;
  }
} 
*/


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
