
.App {
  /* text-align: center; */
  height: 100%;
  width: 100%;
}






@media only screen and (min-width: 769px) {
  /* For desktop: */
  .App{
    display:flex;
    /* flex-grow: 1; */
    width:100%;
    height: 100%;
  }

  .sideBarNav {
    background: #24282a;
    border-right: 1px solid black;
    max-width: 260px;

  }
}


@media only screen and (min-height: 1441px) {
  /* For vertical monitor desktop: */
  .App{
    /* display:flex; */
    /* flex-grow: 1; */
    width:100%;
    height: 100%;
  }

  .sideBarNav {
    background: #24282a;
    border-right: 1px solid black;
    max-width: 260px;
  }
}















/** 


.appNav {
  border-bottom: solid 1px;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  position: sticky;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 120px;
}

.navContainer {
  width: 30%;
  text-align: center;
  max-width: 300px;
  padding-bottom: 0;
} 


.titleContainer {
  text-align:start;
  overflow: break-word;
}


.navTitle {
  margin-top: 1rem;
  margin-bottom: 5px;
}

.titleQuote{
  display: block;
  padding-left: 1rem;
}

.titleQuote::first-line {
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 1px 1px 2px darkgrey;
}

.navClockContainer {
}

.navOtherThings {
  text-align: end;
}

.appContent {
  display: block;
  background-color: #333;
}

@media only screen and (max-width: 768px) {
  .titleContainer, .navOtherThings {
    display: none;
  }

  .appNav{
    justify-content: center;
  }
} 
*/


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
